#!/bin/bash

# Cargar nvm
export NVM_DIR="$HOME/.config/nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"

# Asegurarse de que tmux y otros binarios sean accesibles
export PATH="$PATH:/snap/bin:/home/confin/.config/nvm/versions/node/v22.13.1/bin"

# Determinar el directorio del script
SCRIPT_DIR="$(cd "$(dirname "$0")" && pwd)"

# Crear una nueva sesión para el backend
tmux new-session -d -s web_backend "cd $SCRIPT_DIR/backend && npm run start"

# Crear una nueva sesión para el frontend
tmux new-session -d -s web_frontend "cd $SCRIPT_DIR/frontend && npx serve -s dist -l 8080"