#!/bin/bash

# Cargar nvm
export NVM_DIR="$HOME/.config/nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"

# actualizar rutas tmux y node segun: wich tmux y wich npm

# Asegurarse de que tmux y otros binarios sean accesibles
export PATH="$PATH:/snap/bin:/home/confin/.config/nvm/versions/node/v22.13.1/bin"

# Crear una nueva sesión para el backend
tmux new-session -d -s web_backend "cd /home/confin/ElConfin-WotLK-web/backend && npm run start"

# Crear una nueva sesión para el frontend
tmux new-session -d -s web_frontend "cd /home/confin/ElConfin-WotLK-web/frontend && npx serve -s dist -l 8080"